.cuarto {
 background-color: #41845f;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid #D0D0D0;
  padding: 3px;
  margin: 2px;
  float: right; /*left*/
  display:inherit;
  overflow: hidden;
  font-size:9px;
  height: 180px;
  width: 165px;
  text-align: center;
  color: white;
}


.cuarto:hover{
   border:3px solid #FFFFFF;
}

.productoprecio{
  background-color: #5e5e5e;
  font-size: 12px;
  color: #FFFFFF;
  /*font-weight: bold;*/
  height:  50px;
  padding: 5px 5px 5px 5px
}

.productonombre{
  font-size: 12px;
  width:  300px;
  /*font-weight: bold;*/
  font-family: "courier", Georgia, Serif;
  text-align: left;
  padding: 1px;
}





