@import "fontAwesome/font-awesome";

.x-mostrar-x-icon-bandera-verde
{
     width: 16px;
     height: 16px;
     background-image: url(images/banverde.png) !important;
}


.x-mostrar-x-icon-bandera-amarilla
{
      width: 16px;
     height: 16px;
      background-image: url(images/banamarillo.png) !important;
}

.x-mostrar-x-icon-bandera-roja
{
      width: 16px;
     height: 16px;
      background-image: url(images/banrojo.png) !important;
}

.x-mostrar-x-icon-lote-pedido
{
      width: 16px;
      height: 16px;
      background-image: url(images/lotepedido.png) !important;
}
/*
.cuarto {
      background-color: #6E4B5A;
      text-align: center;
      vertical-align: bottom;
      border: 2px solid #D0D0D0;
      padding: 3px;
      margin: 2px;
      float: left;
      display: inherit;
      overflow: hidden;
      font-size:9px;
      height: 130px;
      width: 175px;
      text-align: left;
    }
    
    .cuarto:hover{
       border:3px solid rgb(6, 2, 22);
    }
    
    .productoprecio{
      background-color: #6E4B5A;
      font-size: 12px;
      color: #FFFFFF;
     
      height:  50px;
      padding: 5px 5px 5px 5px
    }
    
    .productonombre{
      font-size: 12px;
      width:  300px;
   
      font-family: "courier", Georgia, Serif;
      text-align: left;
    }
    
    */
    
    
    
    